body{
    background-color: beige;
}

h1{
    color: brown;

}

h2{
    box-sizing: border-box;
    height: auto;
    width: 400px;
    background-color: darkkhaki;
    border: 2px; border-style: groove;
    border-color: black;
}

#homebutton {
    box-sizing: border-box;
    border: 2px; border-color: crimson;
    border-style: groove;
    
}